*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --font-family-leckerli: "Leckerli One",sans-serif;
    --font-family-ballo2:"Baloo 2", sans-serif;;
    --font-family-opensans:"Open Sans", sans-serif;;

    --heading-md:700 1.75rem var(--font-family-ballo2);

    --heading-sm:700 1.125rem var(--font-family-ballo2);

    --text-md:400 1rem var(--font-family-opensans);
 
    --text-sm:400 0.875rem var(--font-family-opensans);
 
    --text-xs:400 0.75rem var(--font-family-opensans);
 
     
    --brand-light:#59B2FF;
    --brand-mid:#3487CF;
    --brand-dark:#1D6FB6;

    --input-base:#1C1F21;
    --input-stroke:#363B40;
    --input-placeholder:#869198;
    
    --shape-bg:#131516;
    --shape-body:#212427;
    --shape-button:#2D3136;
    --shape-hover:#383D42;
   
    --text-body:#C8CDD0;
    --text-heading:#F9F9F9;
}

body{
    overflow: hidden;
    font: var(--text-md);
    color: var(--text-body);
    

}


img{
    max-width: 100%;
    height: auto;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--input-stroke);
    margin-block: 2rem;
}